{% extends 'base.html' %}

{% block content %}

<h1>📊 Analytics Orbital</h1>

<div class="analytics-grid">

    <div class="card">
        <h3>Risco por Objeto</h3>
        <canvas id="riskChart"></canvas>
    </div>

    <div class="card">
        <h3>Satélites x Detritos</h3>
        <canvas id="typeChart"></canvas>
    </div>

    <div class="card">
        <h3>Distribuição Orbital</h3>
        <canvas id="orbitChart"></canvas>
    </div>

</div>

<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>

{% endblock %}